.gitignore
.env
.venv
vtt_pyannote_whisper_assemblyai.ipynb
Pegando legenda.ipynb
__pycache__/
.streamlit/
transcription_history.json
*.mp3
node_modules/
dist/
docker-compose.yml
Dockerfile
.dockerignore
modules/backend/database
modules/backend/temp
